.spiner {
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 50%;
}

.blue {
    border: 1px solid lightblue;
    border-top: 2px solid blue;
}

.red {
    border: 1px solid lightsalmon;
    border-top: 2px solid red;
}

.yellow {
    border: 1px solid lightgoldenrodyellow;
    border-top: 2px solid yellow;

}




@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}